 <!-- Default box -->
 <div class="card">
    <div class="card-header">
      <h3 class="card-title">Projects</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
          <thead>
              <tr>
                  <th style="width: 1%">
                      #
                  </th>
                  <th style="width: 20%">
                      Project Name
                  </th>
                  <th style="width: 30%">
                      Teachers
                  </th>
                  <th style="width: 20%">
                  </th>
              </tr>
          </thead>
          <tbody *ngIf="classesList">
              <tr *ngFor="let classe of classesList">
                  <td>
                      #
                  </td>
                  <td>
                      <a>
                          {{classe.name}}
                      </a>
                      <br/>
                      <small>
                          Created 01.01.2019
                      </small>
                  </td>
                  <td>
                      <ul class="list-inline">
                          <li *ngFor="let teacher of classe.userClasses" class="list-inline-item">
                              <img alt="Avatar" class="table-avatar" src="/assets/back-office-assets/dist/img/avatar.png">
                          </li>
                      </ul>
                  </td>
                  <td class="project-actions text-right">
                      <a class="btn btn-info btn-sm" href="javascript:void(0)" (click)="editClasse(classe)">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Edit
                      </a>
                      <a (click)="removeClasse(classe.id)" class="btn btn-danger btn-sm" href="javascript:void(0)">
                          <i class="fas fa-trash">
                          </i>
                          Delete
                      </a>
                  </td>
              </tr>
             
          </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>