.fa-window-close {
  color: red !important;
  cursor: pointer;
  float: right;
  top: -8px;
  z-index: 1;
  position: relative;
  transform: scale(1.5);
}

.widget-user {
  cursor: pointer !important;
}
